<footer>
    <div class="container py-5">
        <div class="row text-white py-3">
            <div class="col-md-4 d-flex flex-column py-3">
                <h3 class="py-1 text-center">LOCATION</h3>
                <span class="py-1 text-center">2215 John Daniel Drive</span>
                <span class="py-1 text-center">Clark, MO 65243</span>
            </div>


            <div class="col-md-4 d-flex flex-column py-3">
                <h3 class="py-1 text-center">AROUND THE WEB</h3>
                <div class="myIcons d-flex justify-content-center">
                    <i class="fa-brands fa-facebook icon"></i>
                    <i class="fa-brands fa-twitter icon"></i>
                    <i class="fa-brands fa-instagram icon"></i>
                    <i class="fa-brands fa-github icon"></i>

                </div>
            </div>

            <div class="col-md-4 d-flex flex-column py-3">
                <h3 class="py-1 text-center">ABOUT FREELANCER</h3>
                <span class="py-1 text-center">Freelance is a free to use, licensed Bootstrap theme created by
                    Mohamed Ismail.</span>
            </div>

          
        </div>
    </div>
    <div class="copyright">
        <span>Copyright © Your Website 2023</span>
    </div>
</footer>