<div class="container">
    <div class="row justify-content-center my-5">

        <div class=" text-black text-center">
            <h1 class="fw-bold display-6">CONATCT SECTION</h1>
        </div>

        <div class="my-content text-black text-center">
            <i class="fa-solid fa-star"></i>
        </div>
    </div>
</div>


<div class="container">
    <div class="row">
        <div class="w-50 mx-auto py-4">
            <div class="mb-3 py-2">
                <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="user Name">
            </div>
            <div class="mb-3 py-2">
                <input type="number" class="form-control" id="exampleFormControlInput1" placeholder="user Age">
            </div>
            <div class="mb-3 py-2">
                <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="user Email">
            </div>
            <div class="mb-3 py-2">
                <input type="password" class="form-control" id="exampleFormControlInput1" placeholder="user Password">
            </div>
            <div>
                <button class="btn btn-success">Send Message</button>
            </div>
        </div>
    </div>
</div>