<div class="container">
    <div class="row justify-content-center my-5">
        <div class="w-25 my-4">
            <img src="assets/images/avataaars.svg" alt="">
        </div>

        <div class=" text-white text-center">
            <h1 class="fw-bold display-6">START FRAMEWORK</h1>
        </div>

        <div class="img-content text-white text-center">
                <i class="fa-solid fa-star"></i>

        </div>
        <div class="text-center text-white my-3">
            <span>
            Graphic Artist - Web Designer - Illustrator
            </span>
        </div>
    </div>
</div>